<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bindings</key>
	<dict>
		<key>texture</key>
		<string>&quot;Cargo Bot:Codea Icon&quot;</string>
		<key>modelViewProjection</key>
		<string>modelMatrix() * viewMatrix() * projectionMatrix()</string>
	</dict>
</dict>
</plist>
